/*	Color Palette
#082D0F - dark green
#5E807F - teal green/blue
#9DC5BB - light blue green 
#17B890 - bright green
#DEE5E5 - grey/cream
----------------------------------------------------------------*/

/*	Global Styles
----------------------------------------------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 	font-family: 'Roboto', sans-serif;
 	margin:0;
}

h1, h2,{
	font-family: 'Raleway', sans-serif;
	margin:0;
}
h3{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size: 80px;
}

h2{
	font-size: 40px;
	margin-top: 0;
}
h3{
	font-size: 20px;
}

a {
	color:#17B890;
}

a:hover {
	text-decoration: none;
}

.content-wrap{
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-narrow{
	width: 30%;
	float:left;
	min-height: 175px;
}

.col-wide{
	width: 70%;
	float:left;
	padding-left: 20px;
	min-height: 175px;
}
.col-wide h1{
	font-size: 70px
}

/*	Header and Footer
----------------------------------------------------------------*/
header, footer{
	background:#082D0F;
	color:#5E807F;
	
}

/*header
----------------------------------------------------------------*/
header h1, header h2{
	color:#DEE5E5;
}
.profile-img{
	border-radius: 50%;
}

/*footer
----------------------------------------------------------------*/
footer{
	text-align: center;
}

footer p, footer h2{
	color:#DEE5E5;
}

.contact-info a{
	padding: 10px;
	display: inline-block;
}

/*	Education
----------------------------------------------------------------*/
.education{
	background:#9DC5BB;
	height:800px;

}

/*	Skills
----------------------------------------------------------------*/
.skills{
	background:#9DC5BB;
	height: 250px;
}

/*	Work Experience
----------------------------------------------------------------*/
.work{
	background:#5E807F;
	height: 675px
}

/*	Volunteer
----------------------------------------------------------------*/
.volunteer{
	background:#5E807F;
}


